body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5)) no-repeat center fixed,
                url(Images/Ship-&-Full-Moon.jpg) no-repeat center fixed;
    background-size: cover;
    display: flex;
    width: 100%;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;   
}

.header-text p {
    margin-bottom: 25%;
}

.header-text:hover {
    color: gold;
}

li {
    display: flex;
    width: 100%;
    align-self: stretch;
    align-items: baseline;
    justify-content: center;
    flex-flow: column wrap;
    margin-bottom: 15%;
}

li:hover {
    transform: scale(1.25);
    color: gold;
}



